.profile-page {
  max-width: 600px !important;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.profile-page h1,
.profile-page h2 {
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: -1.5px;
  font-size: 1.7rem;
  font-weight: 600;
}

.profile-page form label {
  font-weight: 600;
  color: #353535;
  letter-spacing: -0.8px;
  margin-bottom: 5px;
}

.profile-page form .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile-page form .th {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  text-align: left;
}

.profile-page form .th label .color {
  color: #793ff3;
}

.profile-page form .td {
  flex-basis: 70%;
  display: flex;
  align-items: center;
}

.fa_icon {
  margin-right: 8px;
}

.profile-picture-preview {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 150px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.profile-page form input,
.profile-page form select,
.profile-page form textarea {
  flex-basis: content;
  width: 100%;
  margin: 10px 0;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #fcfcfc;
  cursor: pointer;
}

.profile-page form select:hover {
  transition: 0.3s ease-in-out;
  background-color: #f3efff;
  cursor: pointer;
}

.profile-page form input[type='file'] {
  display: block;
}

.profile-page form input[type='radio'] {
  display: none;
}

.profile-page form .radio-group label {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}
.profile-page form .radio-group label:hover {
  color: #793ff3;
}

.profile-page form .radio-group input[type='radio'] + label::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #a7a7a7;
  background-color: #fcfcfc;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

.profile-page form .radio-group input[type='radio']:checked + label {
  color: #793ff3;
}
.profile-page form .radio-group input[type='radio']:checked + label::before {
  transition: border 0.3s ease-in-out;
  background-color: #ffffff;
  border: 7px solid #793ff3;
}

.profile-page form select {
  width: auto;
}

.profile-page form .birth-select {
  width: auto;
}
.profile-page form .email-input {
  flex-basis: content;
}
.profile-page form .email-select {
  width: auto;
}

.profile-page form .category-select {
  width: 100%;
  overflow-y: auto;
  max-height: 100px;
}

.profile-page form button {
  margin-left: 5px;
  min-width: 80px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  background-color: #7840f2;
  color: white;
  cursor: pointer;
}

.profile-page form button:hover {
  background-color: #571bda;
  transition: 0.3s ease-in-out;
}

.profile-page form .submit {
  margin-top: 25px;
  margin-bottom: 10px;
  min-width: 200px;
  font-size: 18px;
}
.profile-page form .cancel {
  color: #353535;
  background-color: #e5dbff;
}
.profile-page form .cancel:hover {
  color: #353535;
  background-color: #c9b7f7;
}
